/* Default Body Style Settings*/
body{
  background-color:#ffdb99;
  background-image:
  radial-gradient(at 45% 69%, hsla(292,86%,61%,1) 0px, transparent 50%),
  radial-gradient(at 95% 45%, hsla(247,83%,76%,1) 0px, transparent 50%),
  radial-gradient(at 52% 3%, hsla(259,64%,61%,1) 0px, transparent 50%),
  radial-gradient(at 92% 80%, hsla(357,96%,69%,1) 0px, transparent 50%),
  radial-gradient(at 82% 50%, hsla(278,64%,67%,1) 0px, transparent 50%),
  radial-gradient(at 60% 77%, hsla(43,85%,61%,1) 0px, transparent 50%),
  radial-gradient(at 29% 26%, hsla(321,85%,61%,1) 0px, transparent 50%);

  font-family: 'Times New Roman', Times, serif;
  animation: fadeEffect 2s;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/*********************************************/
/* Scrollbar Settings */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFEDD8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BC8A5F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A899FF;
}

/*********************************************/
/* Menu Design*/

/*********************************************/
/* Header Style Settings */
.header{
  display: block;
  width: 100%;
  overflow-y: auto;
  text-align: center;
}

/*********************************************/
/* Footer Style Settings */
.bar {
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  background-color: #D4A276;
  color:  #FFEDD8;
}

/*********************************************/
/* Content Style Settings*/
.maincontent{
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  display: block;
  width: 100%;
}

.column{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.8;
  background-color: #FFD5C2;
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  color: #A899FF;
}

.column p{
  color: #AF4D98;
}

/*********************************************/
/* Personal Card Settings */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  background-color: #FFEDD8;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: #6F4518;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FFEDD8;
  background-color: #583101;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #BC8A5F;
}

button:hover, a:hover {
  opacity: 0.7;
}


/*********************************************/
/* Style the middle tab section */
.tab-header{
  text-align: center;
  margin-top: 10px;
}
.tab {
  overflow: hidden;
  background-color: #AF4D98;
  border: 2px solid #AF4D98;
  border-radius: 5px;
  color: #FFEDD8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #AF4D98;
    color: #FFEDD8;
    width: 33.33%;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #c057a7;
    color: #FFEDD8;
    border-radius: none;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #c057a7;
    color:  #FFEDD8;
    border-radius: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    overflow: hidden;
    border: 2px solid #AF4D98;
    border-radius: 5px;
    background-color: #FFD5C2;
    color: #AF4D98;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .tabcontent h3,p{
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


/*********************************************/
/* Adjust Screen Optimisation */
@media screen and (max-width: 750px) {
  .html, body{
    width: 100%;
    overflow-x: hidden;
    display: block;
    overflow-y: auto;
  }

  .maincontent{
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .column{
    margin: auto;
    width: 75%;
  }

  .header{
    display: block;
    width: 100%;
    overflow-y: auto;
    text-align: center;
  }

  .tab-header{
    overflow-x: hidden;
    display: block;
    overflow-y: auto;
  }

  .tab button{
    float: inline-end;
    display: inline;
    justify-content: space-between;
    text-align: left;
    width: fit-content; 
    overflow-y: auto;
  }

  .tab{
    margin: auto;
    width: 85%;
    text-align: left;
  }

  .tabcontent{
    margin: auto;
    width: 85%;
  }

  .card{
    display: block;
    width: 70%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}