/* Default Body Style Settings*/
body{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

/* Divider Style Settings */
hr{
    color: black;
}

/* Menu Style Settings */
.menu {
    width: 100%;
    background-color: burlywood;
    overflow: auto;
}
.menu a {
    float: left;
    padding: 14px 16px;
    color: bisque;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.menu a.active {
    background-color:darkolivegreen;
}

/* Content Padding*/
.header {
    background-color: lightcoral;
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

.bar {
    background-color: lightcoral;
    padding: 5px;
    text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/*
.column {
    float: left;
    width: 25%;
    padding: 30px;
    height: 200px
}


.row{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
*/